---
import './GifGallery.css';

export interface Props {
  gifs: Array<{
    src: string;
    alt: string;
    caption: string;
  }>;
}

const { gifs } = Astro.props;
---

<div class="gif-gallery">
  {gifs.map(gif => (
    <div class="gif-item">
      <img src={gif.src} alt={gif.alt} />
      <div class="gif-caption">{gif.caption}</div>
    </div>
  ))}
</div>
