---
import './WelcomeBox.css';

export interface Props {
  title: string;
  titleIconSrc?: string;
  titleIconAlt?: string;
  content: string;
}

const { title, titleIconSrc, titleIconAlt, content } = Astro.props;
---

<div class="welcome-box">
  <h2>
    {titleIconSrc && <img src={titleIconSrc} alt={titleIconAlt || ''} class="title-icon" />}
    {title}
    {titleIconSrc && <img src={titleIconSrc} alt={titleIconAlt || ''} class="title-icon" />}
  </h2>
  <p>{content}</p>
</div>
