---
import './Marquee.scss';

export interface Props {
  content: Array<{
    text?: string;
    gifSrc?: string;
    gifAlt?: string;
  }>;
  speed?: string;
}

const { 
  content, 
  speed = '10s'
} = Astro.props;
---

<div class="marquee">
  <div class="marquee-text" style={`animation-duration: ${speed}`}>
    {content.map(item => (
      <>
        {item.gifSrc && <img src={item.gifSrc} alt={item.gifAlt || ''} class="marquee-gif" />}
        {item.text && <span>{item.text}</span>}
      </>
    ))}
  </div>
</div>
